# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Streamlit
.streamlit/*
!.streamlit/config.toml

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Database files
*.db
*.db-journal

# Database backups
*_backup_*.db

# Logs
*.log

# Exports
*.json

*.sqlite
*.sqlite3
*.sqlite-journal
backups/
exports/
__pycache__/
.venv/
venv/
